obj
*.log
*.sum
*.bundle
*.service
config.log
config.status
config.cache
config.make
gnustep-gui.spec
gnustep-gui-debug.spec
gui.make
Headers/Additions/GNUstepGUI/GSVersion.h
Source/config.h
Source/Info-gnustep.plist
Tests/gui/*/GNUmakefile
