  NSServices = (
    {
      NSPortName = ExampleServices;
      NSMessage = openURL;
      NSSendTypes = (
	NSStringPboardType
      );
      NSMenuItem = {
	default = "Open URL";
	English = "Open URL";
      };
      NSKeyEquivalent = {
	default = O;
	English = O;
      };
    },
    {
      NSPortName = ExampleServices;
      NSMessage = tolower;
      NSSendTypes = (
	NSStringPboardType
      );
      NSReturnTypes = (
	NSStringPboardType
      );
      NSMenuItem = {
	default = "To lower";
	English = "To lower";
      };
      NSKeyEquivalent = {
	default = L;
	English = L;
      };
    },
    {
      NSPortName = ExampleServices;
      NSMessage = toupper;
      NSSendTypes = (
	NSStringPboardType
      );
      NSReturnTypes = (
	NSStringPboardType
      );
      NSMenuItem = {
	default = "To upper";
	English = "To upper";
      };
      NSKeyEquivalent = {
	default = U;
	English = U;
      };
    }
  );
